@charset "UTF-8";

body {
		font:0.813em/140% 'SansationRegular', Arial, sans-serif;
		color:#333333;
		background:#000000 url(../images/hp/firestream_hpbg.jpg) no-repeat;
}

a {color:#C60; text-decoration:none;}
a:hover, a:active, a:focus {color:#F90; text-decoration:underline; outline:none;}

#homepage {
position:relative;
width:837px;
height:975px;
min-height:975px;
margin:0 auto;
background:url(../images/hp/homepage_bdr.png) repeat-y;
}

#page {
position:absoulte;
width:837px;
height:975px;
min-height:975px;
margin:0 auto;
background:url() repeat-y;
}

header img {
		width:213px;
		position:absolute; top:18px; left:24px;
}

section.welcome, section.hero {
	position:absolute; top:147px; left:30px;
	width:300px;
	height:130px;
	background-color:#2A0201;
	background-color:rgba(42, 2, 1, 0.3);
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;	
	-moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.3);
	box-shadow:5px 5px 5px rgba(0, 0, 0, 0.3);
}

section.welcome p {
	font-size:1.125em;
	padding:1.5em;
	color:#fa9411;
	text-shadow:rgba(2, 2, 2, 0.3);
}

section.welcome img {
	display:block;
	margin:1em 0;
}

section.hero {
	position:absolute; top:337px; left:30px;
	width:300px; /* can be removed */
	height:237px;
}

section.hero img {opacity:0.8;filter:alpha(opacity=80);}

section.nav	{
position:relative;
top:5px;
left:143px;
width:650px;
height:599px;
margin:0 auto;
background: url(../images/sphere_shadow.png) no-repeat;
/*	border:1px solid #00f;*/
}

nav.sphere	{
position:absolute;
top:0;
left:0;
width:650px;
height:599px;
margin:0 auto;
background: url(../images/sphere.png) no-repeat;
/*	border:1px solid #00f;*/
}

section.cta {
	position:relative; top:32px; left:20px;
}

section.cta img {margin-right:10px;}

section.footer {
		position:relative;
		top:72px;
		left:10px;
		width:821px;
		height:194px;
		font:0.875em/150% 'SansationBold', Arial, sans-serif;
		color:#FA9411;
		padding:20px;
		background:url(../images/footer_bg.png) no-repeat;
}

div.info {
	float:left;
	width:404px;
}

div.footer_nav {
	float:left;
	width:219px;
}

div.footer_nav a {
		line-height:119%;
}

div.socialnetwork {
	float:left;
	width:155px;
	text-align:right;
	color:#000000;
	color:rgba(255, 255, 255, 0.6);
}

div.socialnetwork p {
	margin:0; padding:0;
}

div.socialnetwork img {
	padding:9px 0 9px 15px;
}

div.socialnetwork p.fb-like {
	opacity:0.6;
	filter:alpha(opacity=60);
}

div.legal {
	clear:both;
	padding:20px 43px 20px 0;
	text-align:right;
	color:#000000;
	color:rgba(255, 255, 255, 0.6);
}

div.legal a {
	opacity:0.6;
	filter:alpha(opacity=60);
	}

div.footer_nav a {display:block; padding-bottom:0.5em; color:#FA9411; text-decoration:none;}
div.footer_nav a:hover, div.footer_nav a:active, div.footer_nav a:focus {text-decoration:underline; outline:none;}

div.hpbtmbdr {
		position:relative;
		width:837px;
		height:13px;
		margin:0 auto;
		padding:12px 0 6px 0;
		background:url(../images/hp/homepage_btmbdr.png) no-repeat;
}


/* 
	========= Begin Secoundary Pages Section =========
	
*/

#header {
position:relative;
}	 
 
.sphere {position:absolute; left:7px; z-index:1;}

#footer {
		clear: both;
		padding:12px 24px 6px 12px;
		font:9px/120% Verdaina, Arial, sans-serif;
		color:#999999;
		text-align:right;
		z-index:2;
}

.btm_bdr {
width:777px;
height:19px;
margin:0 auto;
}

#leftcolumn {
		width: 129px;
		float: left;
		padding: 62px 12px 0 19px;
}

#rightcolumn {
		margin-left:160px; /* Change this to whatever the width of your left column is*/
		padding:20px 20px 0 20px;
		min-height:600px;
}

#container {
width:777px;
margin:0 auto;
background: url(../images/secondary_page_bg.png) repeat-y;
}
  
h1 {
		font:18px/120% 'SansationBold', Arial, sans-serif;letter-spacing: 0;
		color:#ff5d00;
		margin-bottom:1em;
}

h2 {font:14px/120% 'SansationBold', Arial, sans-serif;letter-spacing: 0; color:#ff7f22;}

h2 em {
	font:14px/120% 'SansationBoldItalic', Arial, sans-serif;letter-spacing: 0;
	color:#333333;
	}

strong {font-family:'SansationBold', Arial, sans-serif;}

#rightcolumn p, #rightcolumn ul {width:460px; max-width:460px;}

p, ul {margin-bottom:1.7em;}

.intro05 {margin-top:0.5em;}

.intro {margin-top:1em;}

#leftcolumn li {
	margin-bottom:1em;
}	
	 
#leftcolumn li.current {
	margin-bottom:1em;
	background: url(../images/arrow.gif) no-repeat center;
	line-height:140%;
}	
	 
#leftcolumn li.current a {color:#ff5d00;text-decoration: none;}

#rightcolumn	li {
	margin-bottom:1em;
	list-style: url(../images/bullet.gif);
	margin-left:1em; padding-left:1em;
}

#rightcolumn	ul.staff li {
	margin-bottom:1em;
	list-style:none;
	margin:0;padding:0;
}
	 
a {color:#ff5d00;}
a:link {color:#ff5d00;text-decoration: none}
a:visited {color:#ff5d00; text-decoration: none}
a:active {color:#ff5d00; text-decoration: none}
a:hover {color:#ff5d00; text-decoration: underline;}	 



img {border: 0;}

#twitter { margin:1em 0 2.5em;}

#facebook { margin:1em 0 2em;}

#twitter img {
		width: 100px;
		float: left;
}

#twitter p {
		margin:0 0 0 120px; 
		padding:0;
}
	 
#facebook img {
		width: 95px;
		float: left;
}

#facebook p {
		margin:0 0 0 120px; 
		padding:0;
} 
	 
.title {padding:0 2em;}	 

a i { visibility: hidden; }

a.events:hover i, a.contact:hover i, a.who:hover i, a.beliefs:hover i, a.donations:hover i, a.connected:hover i {visibility: visible;}
	
a.events {
	position:absolute; top:54px; left:158px;
	z-index:5;
}

a.contact {
	position:absolute; top:61px; left:393px;
	z-index:10;
}
	
a.who {
	position:absolute; top:157px; left:106px;
	z-index:20;
}

a.beliefs {
	position:absolute; top:131px; left:227px;
	z-index:25;
}

a.donations {
	position:absolute; top:159px; left:414px;
	z-index:30;
}

a.connected {
	position:absolute; top:285px; left:217px;
	z-index:15;
}
	
div.events {background: url(../images/watermarks/calendar.png) no-repeat top right;}

div.beliefs {background: url(../images/watermarks/beliefs.png) no-repeat top right;}

div.who {background: url(../images/watermarks/who.png) no-repeat top right;}

div.connected {background: url(../images/watermarks/connected.png) no-repeat top right;}

div.donation {background: url(../images/watermarks/donations.png) no-repeat top right;}

div.contact {background: url(../images/watermarks/contact.png) no-repeat top right;}

div.second_saterday {background: url(../images/second_saterday_bg.png) no-repeat top right;  margin-right:12px;}

.ssp_sidenav {margin-left:-15px !important;}

.news {
	width:679px;
	height:48px;
	margin:0 auto;
	background: url(../images/news_bg.png) no-repeat top right;
}

.news p {
	font:12px/39px 'SansationBold', Arial, sans-serif;
	margin-left:20px;
	color:#FFFFFF;
}

.news span {color:#fa6109;}

img[alt~='External'] {padding-left:0.5em; vertical-align: text-bottom;}




