@charset "UTF-8";
	
#homepage {
position:relative;
width:100%;
height:493px;
min-height:493px;
margin:0 auto;
background: url(../images/homepage_bg.png) repeat-y;
}

/*
#hp_content2 {
width:783px;
margin:0 auto;
}
*/

#homepage_footer {
	position:absolute; bottom:0; right:0;
		margin:0;
		padding-right:12px;
		font:9px/120% Verdaina, Arial, sans-serif;
		color:#999999;
		text-align:right;
		
}

.second_saterday_logo {
width:219px;
float:right;
margin-right:20px;
}

.hp_sphere	{
position:relative;
top:50px;
width:557px;
height:492px;
margin:0 auto;
background: url(../images/sphere.png) no-repeat;
/*	border:1px solid #00f;*/
}

#container {
width:777px;
margin:0 auto;
background: url(../images/secondary_page_bg.png) repeat-y;
}
 
.btm_bdr {
width:777px;
height:19px;
margin:0 auto;
}
 
#header {
position:relative;
}	 
 
.sphere {position:absolute; left:7px; z-index:1;}

#leftcolumn {
		width: 129px;
		float: left;
		padding: 62px 12px 0 19px;
}

#rightcolumn {
		margin-left:160px; /* Change this to whatever the width of your left column is*/
		padding:20px 20px 0 20px;
		min-height:600px;
}

#footer {
		clear: both;
		padding:12px 24px 6px 12px;
		font:9px/120% Verdaina, Arial, sans-serif;
		color:#999999;
		text-align:right;
		z-index:2;
}

body {
		font:12px/140% 'SansationRegular', Arial, sans-serif;
		color:#333333;
		background:#7a0203 url(../images/firestream_canvas.jpg) repeat-x;
}

h1 {
		font:18px/120% 'SansationBold', Arial, sans-serif;letter-spacing: 0;
		color:#ff5d00;
		margin-bottom:1em;
}

h2 {font:14px/120% 'SansationBold', Arial, sans-serif;letter-spacing: 0; color:#ff7f22;}

h2 em {
	font:14px/120% 'SansationBoldItalic', Arial, sans-serif;letter-spacing: 0;
	color:#333333;
	}

strong {font-family:'SansationBold', Arial, sans-serif;}

#rightcolumn p, #rightcolumn ul {width:460px; max-width:460px;}

p, ul {margin-bottom:1.7em;}

.intro05 {margin-top:0.5em;}

.intro {margin-top:1em;}

#leftcolumn li {
	margin-bottom:1em;
}	
	 
#leftcolumn li.current {
	margin-bottom:1em;
	background: url(../images/arrow.gif) no-repeat center;
	line-height:140%;
}	
	 
#leftcolumn li.current a {color:#ff5d00;text-decoration: none;}

#rightcolumn	li {
	margin-bottom:1em;
	list-style: url(../images/bullet.gif);
	margin-left:1em; padding-left:1em;
}

#rightcolumn	ul.staff li {
	margin-bottom:1em;
	list-style:none;
	margin:0;padding:0;
}
	 
a {color:#ff5d00;}
a:link {color:#ff5d00;text-decoration: none}
a:visited {color:#ff5d00; text-decoration: none}
a:active {color:#ff5d00; text-decoration: none}
a:hover {color:#ff5d00; text-decoration: underline;}	 



img {border: 0;}

#twitter { margin:1em 0 2.5em;}

#facebook { margin:1em 0 2em;}

#twitter img {
		width: 100px;
		float: left;
}

#twitter p {
		margin:0 0 0 120px; 
		padding:0;
}
	 
#facebook img {
		width: 95px;
		float: left;
}

#facebook p {
		margin:0 0 0 120px; 
		padding:0;
} 
	 
.title {padding:0 2em;}	 

.hp_sphere a i { visibility: hidden; }

.hp_sphere a.contact_us_link:hover i { visibility: visible; }
	
.hp_sphere a.get_connected_link:hover i { visibility: visible; }
		
.hp_sphere a.who_we_are_link:hover i { visibility: visible; }
			
.hp_sphere a.our_beliefs_link:hover i { visibility: visible; }
				
.hp_sphere a.donation_link:hover i { visibility: visible; }

a.contact_us_link {
	position:absolute; top:55px; left:134px;
	z-index:5;
}
	
a.get_connected_link {
	position:absolute; top:39px; left:337px;
	z-index:10;
}

a.who_we_are_link {
	position:absolute; top:147px; left:91px;
	z-index:15;
}

a.our_beliefs_link {
	position:absolute; top:126px; left:214px;
	z-index:20;
}


a.donation_link {
	position:absolute; top:173px; left:352px;
	z-index:25;
}

img.contact_us_txt {
		position:absolute; top:407px; left:70px;
		z-index:30;
}		

img.get_connected_txt {
		position:absolute; top:423px; left:-135px;
		z-index:30;
}		

img.who_we_are_txt {
		position:absolute; top:315px; left:111px;
		z-index:30;
}		

img.our_beliefs_txt {
		position:absolute; top:336px; left:-12px;
		z-index:30;
}		

img.donation_txt {
		position:absolute; top:290px; left:-150px;
		z-index:30;
}		
		
	
.belief {background: url(../images/secondary_belief_bg.png) no-repeat top right;}

.who {background: url(../images/secondary_who_bg.png) no-repeat top right;}

.connected {background: url(../images/secondary_connect_bg.png) no-repeat top right;}

.donation {background: url(../images/secondary_donation_bg.png) no-repeat top right;}

.contact {background: url(../images/secondary_contact_bg.png) no-repeat top right;}

.second_saterday {background: url(../images/second_saterday_bg.png) no-repeat top right;  margin-right:12px;}


.ssp_sidenav {margin-left:-15px !important;}



.fb-like {
	float:right; margin-top:58px;
	opacity:0.5;
	filter:alpha(opacity=50);
	padding-right:12px;
	}


.news {
	width:679px;
	height:48px;
	margin:75px auto;
	background: url(../images/news_bg.png) no-repeat top right;
}

.news p {
	font:12px/39px 'SansationBold', Arial, sans-serif;
	margin-left:20px;
	color:#FFFFFF;
}


.news span {
	color:#fa6109;
}


